.app-link-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.app-image {
  height: 60px;
}
@media (max-width: 768px) {
  .app-image {
    height: 45px;
  }
}
